body{
    background-color: #F1F1F1;
}

#about-content{
    margin: 15px 0px 0px 0px
}

#about-content > h2{
    color:#2f3c4d;
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
}

#who-are-we{
    margin: 0px 100px auto;
}

.persoon{
    margin-left: 125px;
    margin-bottom: 70px;
}

.logos{
    margin-top: 30px;
}

.logos1 > a{
    margin-right: 30px;
}

.logos2 > a{
    margin-right: 30px;
}

.logos2{
    margin-left: 410px;
    margin-bottom: 20px;
}

.logos1{
    margin-left:120px;
    margin-bottom: 20px;
}
